@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
        
      
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;
}
webkit-scrollbar {
	width: 10px; 
  height: auto;
}


html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
	  font-size: 62.5%;
   background-color: #000;
}

.content {
	max-width: 1250px;
	margin: auto;
	margin-top: 50px;
	padding: 0px 30px;
}

.navbar {
    background-color: rgba(17, 17, 17, 0.9);
	position: fixed;
	top: 0;
	z-index: 5;
	width: 100%;
    height: 70px;
	padding: 25px 0;
	transition: top 0.3s ease;
}


.navbar .content {
	display: flex;
	align-items: center;
	justify-content: space-between;
  position: relative;
  top:-10px;

}

section {
	height: auto;
	width: 100%;
	padding-top: 20rem;
	padding-bottom: 20rem;
}

.container {
	max-width: 1050px;
	margin: auto;
	padding: 0px 30px;
	
}
.left-col {
	flex: 5;
	display: flex;
	gap: 20px;
  margin: auto;
	align-items: center;
  justify-content: center;
	

}
/*phan logo*/
.button {
  margin: 0;
  height: auto;
  padding: 0;
  border: none;
  position: absolute;
  top: -80px;
  left: 50px;
 } 

.button {
  --border-right: 6px;
  --text-stroke-color: rgb(255, 255, 255);
  --animation-color: #0b0101;
  --fs-size: 2rem;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.logo-img{
  position: relative;
  top: -80px;
  right: 495px;
  width: 150px;
  height: 100px;
}


/*phan login và các nút khác*/
.nav-external-links {
  display: flex;
  gap: 2rem;
  position: relative;
  top: -80px; 
  left: 100px;
}

.nav-external-links a {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 500;
  text-decoration: none;
  transition: text-decoration 0.5s;

}
.nav-external-links a:hover {
  color:#9a9a9a;
  text-decoration: underline;
}
.custom-icon {
  font-size: 20px; 
  margin-top: 0;
  margin-left: 0;
}
/*phan menu va nut menu*/
.navbar .menu-list {
	display: none;
	gap: 3rem;
	position: absolute;
  left: -50px;
  top: 47px;
  width: 100%;
  height: 100vw;
  flex-direction: column;
 
	

}


.menu-list {
  display: none;
  position: absolute;
  background-color: rgba( 17, 17, 17, 0.9);
  width: 340px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: block;
  
}

.menu-list a {
  font-size: 1.5rem;
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: #ffffff;
}

.menu-list a:hover {
  background-color: #929292;
}

.menu-icon input:checked ~ .menu-list {
  display: block;
}

.menu-icon {
  position: relative;
  width: 30px;
  height: 20px;
  background: transparent;
  cursor: pointer;
  display: block;
  position: absolute;
  right: 105%;
  top: -42px;
}
.menu-icon input {
  display: none;
}

.menu-icon span {
  display: block;
  position: absolute;
  height: 3.5px;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}

.menu-icon span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.menu-icon span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.menu-icon span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.menu-icon input:checked ~ .menu-list {
  display: block;
}

.menu-list {
  display: none;
  position: absolute;
  background-color: rgba(17, 17, 17, 0.9);
  min-width: 270px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu-list a {
  font-size: 1.5rem;
  display: block;
  padding: 20px 16px;
  text-decoration: none;
  color: #ffffff;
}

.menu-list a:hover {
  background-color: #929292;
}


.custom-icon {
  font-size: 20px; 
  margin-top: 0;
  margin-left: 0;
}

/*các lưạ chọn*/
section {
	height: 100vh;
	width: 100vw;
	padding-top: 15rem;
	padding-bottom: 10rem;
	background-size: cover;
	background-position: center;
  
}
.pack-card{
  gap: 1px;
  display: flex;
  
}
.team_card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 2px solid rgb(0, 0, 0);
  padding: 1.5rem 1rem 1rem 1rem;
  margin-top: 1rem;
  margin-right: 6rem;
  margin-left: 4rem;
  background-color: #fff;
  width: 450px;
  height: 450px
}

.banner {
  position: absolute;
  left: 0px;
  right: 0px;
  top: -3.5rem;
  display: flex;
  justify-content: center;
  
}

.banner_tag {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: rgb(255, 255, 255);
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000000;
  height: 30px;
  width: 140px;
}

.name {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 3.2rem;
  line-height: 3.5rem;
  font-weight: 700;
  color: rgb(31 41 55 );
}

.description {
  margin: 0 auto 2rem auto;
  text-align: center;
  color: rgb(107 114 128 );
  font-size: 1.5rem;
}

.lists > :not([hidden]) ~ :not([hidden]) {
  margin-top: 0.5rem;
}

.list {
  font-size: 1.3rem;
  display: flex;
  gap: 0.8rem;
}

.list svg {
  height: 1.5rem;
  width: 1.5rem;
  flex-shrink: 0;
  color: rgb(0, 0, 0);
}

.list span {
  color: rgb( 75 85 99 );
}

.bottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.price_container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 0.25rem;
}

.devise {
  align-self: flex-start;
  color: rgb( 75 85 99 );
  font-size: 2rem;
}

.price {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: rgb(31 41 55 );
}

.date {
  color: rgb(107 114 128 );
  font-size: 1.5rem;
}

.btn {
  display: block;
  border-radius: 1.8rem;
  background-color: rgb(0, 0, 0);
  padding: 0.75rem 2rem;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: #fff;
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition: all .1s cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.btn:hover {
  background-color: rgb(88, 88, 88);
}

.btn:active {
  background-color: rgb(115, 115, 115);
}


.responsive-only{
  display: none;
  }


footer {
  background-color: #000;
  color: #fff;
  font-size: 1.2rem;
 
  
}

footer a {
  color: #fff;  
  text-decoration: none;
  
}

footer a:hover {
  text-decoration: underline;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

       
footer ul li {
  margin: 0;
  padding: 0;
  
}

.f4  {
  position: relative;
  top: 25px;
  left: 165px;
  
}
.f4 li {
  display: inline;
  margin-left: 5rem;
}


.f5{
  position: relative;
  top: 30px;
  left: 330px;
  font-size: 1rem;
}

.language-selector {
  color:#000;
  display: inline-block;
  font-size: 16px;
  border: 0px solid #000000;
  border-radius: 0px;
  background-color: #ffffff;
  padding: 10px 20px; 
  position: relative;
  top: -15px;
  left: 75%;
  font-size: 1.1rem;
}
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  html, body {
      font-size: 60%;
    
}

  .navbar {
    width: 100%;
    height: 5%;
  
  }
.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-external-links {
  left: 0%;
  top: -70px;
}
.button{
  left: 12%;
  top: -70px;
  font-size: 1.2rem;

}
.responsive{
  display: none;
}
.responsive-only{
display: block;
margin-top: 20%;
margin-left: 5%;
margin-right: 3%;

}
.logo-img{
  left: -29%;
  top: -70px;
  height:20%;
  width: 10%;
}
.menu-icon{
  right: 94%;
}
.navbar .menu-list {
  max-height: 40vh;
  left: -80%;
  margin-top: -25%;
}
section {
	display: none;
 
  
}
.pack-card{
  display: none;
   
}

.pack-card1{
  margin-top: 15%;
  margin-left: 14%;
  display: flex;
  
}
.pack-card2{
  margin-top: 15%;
  margin-bottom: 5%;
  display: flex;
  margin-left: 14%;
}
.pack-card3{
  margin-top: 15%;
  margin-bottom: 5%;
  display: flex;
  margin-left: 14%;
}
.pack-card4{
  margin-top: 15%;
  margin-bottom: 5%;
  display: flex;
  margin-left: 14%;
  margin-bottom: 30%;
}
.team_card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 2px solid rgb(0, 0, 0);
  padding: 1.5rem 1rem 1rem 1rem;
  margin-top: 1rem;
  margin-right: 6rem;
  margin-left: 4rem;
  background-color: #fff;
  width: 450px;
  height: 450px
}








footer li {
    
  margin: 0;
  padding: 0;
  font-size: 2rem;
  margin-top: 1rem;
}
.button2{
display: none;
}
.logo2-img{
  display: none;
}
.f1  {
  display: none;
} 
.f1 p{

  display: none;
}
.f2{
  display: none;
}
.f2 p{
  display: none;
}
.f3{
  display: none;
}
.contact .social-media {
  display: none;
}
  .playstore-button {
  display: none;
  }
  .language-selector {
  
  display: none;
  }
  .f4{
      top: 30%;
      left: 12.5%;
  }
  .f5 {
      top: 10%;
      left: 38%;
  }

}

@media only screen and (max-width: 740px) {
  html, body {
    font-size: 50%;
  
  }
  
  .navbar {
  width: 100%;
  height: 7%;
  background-color: rgb(27, 27, 27);
  
  }
  
  .nav-external-links {
  display: none;
  }
  .button{
  display: none;
  }
  .logo-img{
  left: 80%;
  top: -85px;
  height:40%;
  width: 30%;
  }
  .responsive-only{
  display: block;
  }
  .custom-icon{
  color:#ffffff;
  }
  .menu-list1 {
  position: absolute;
  top: 205%;
   left: -120%; 
  background-color: rgba(0, 0, 0, 0.9);
  min-width: 270px;
  min-height: 95vh;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0 );
  z-index: 1;
  transform: translateX(-100%);
  transition: transform 0.3s ;
  
  }
  
  .menu-list1 a {
  font-size: 2rem;
  display: block;
  padding: 18px 20px;
  text-decoration: none;
  color: #ffffff;
  
  }
  
  .menu-list1 a:hover {
  background-color: #929292;
  }
  
  .menu-icon1 input:checked ~ .menu-list1 {
  transform: translateX(0); 
  }
  
  .menu-icon1{
  position: absolute;
  top: 35%;
  margin-left: 5%;
 
  }
  
  
  .menu-icon1 input {
  display: none;
  }
  .menu-icon{
  display: none;
  }
  .navbar .menu-list {
  display: none;
  }
  section {
    display: none;
  
    
  }
  .pack-card{
    display: none;
    
  }
  .html,body{
    background-color: #fff;
  }
  .card-block{
    background-color: #fff;
    display: block;
    margin-top: 30%;
    margin-left: 5%;
    margin-right: 12.5%;
    
    }

  .pack-card1{
    margin-top: 25%;
  }

  
  .pack-card2{
    margin-top: 25%;
  }
  .pack-card3{
    margin-top: 25%;
   
  }
  .pack-card4{
    margin-top: 25%;
    margin-block-end: 50%;
    
  }
  .team_card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    border: 2px solid rgb(0, 0, 0);
    padding: 1.5rem 1rem 1rem 1rem;
    margin-top: 1rem;
    margin-right: 6rem;
    margin-left: 4rem;
    background-color: #fff;
    width: 90%;
    
  }




  footer li {
    
    margin: 0;
    padding: 0;
    font-size: 1rem;
    margin-top: 1rem;
  }
  .button2{
 display: none;
  }
  .logo2-img{
    display: none;
  }
  .f1  {
    display: none;
  } 
  .f1 p{
  
    display: none;
  }
  .f2{
    display: none;
  }
  .f2 p{
    display: none;
  }
  .f3{
    display: none;
  }
  .contact .social-media {
    display: none;
  }
    .playstore-button {
    display: none;
    }
    .language-selector {
    
    display: none;
    }
    .f4{
        top: 30%;
        left: 5%;
    }
    .f5 {
        top: 10%;
        left: 29%;
    }

    
}